<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/portal/master/umi.css" />
    <script>
      window.routerBase = "/portal";
    </script>
    <script>
      //! umi version: 3.2.3
    </script>
    <script src="/portal/master/error.js"></script>
  </head>
  <body>
    <div id="root-master"></div>

    <script src="/portal/master/loading.js"></script>
    <script src="/portal/master/umi.js"></script>
  </body>
</html>
